.root {
  text-align: center;
  li {
    padding: 8px;
    border: 1px solid rgb(250, 208, 176);
    border-radius: 10px;
    margin-right: 5px;

    display: inline-block;
    text-align: center;
    a {
      padding: 5px;
    }

    &:hover {
      background-color: rgb(255, 125, 26);
      box-shadow: 1px 2px 1px rgb(247, 144, 26);
      a {
        color: white;
      }
    }
    &:active {
      background-color: rgb(255, 125, 26);

      a {
        color: white;
      }
    }
  }
  a {
    color: rgb(241, 146, 73);
    cursor: pointer;
  }
  :global {
    .selected {
      background-color: rgb(255, 125, 26);
      a {
        color: white;
      }
    }
  }
}
